#studioSideMenu {
    position: fixed;
    left: -200px;
    height: 85vh;
    bottom: 0;
    width: 200px;
    background-color: white;
    overflow-y: scroll hidden;
    z-index: 100;
    transition: left 0.3s ease-in-out;
    &.is-active {
        left: 0;
        transition: left 0.3s ease-in-out;
    }
    @include desktop {
        left: 0;
    }
}

.studio-area {
    top: 4rem;
    right: 0;
    @include desktop {
        position: absolute;
        left: 200px;
    }
}

.st-flex-container {
    margin: 50px 25px 0px 25px;
    @include mobile {
        margin: 20px 25px 0px 25px;
    }
}

#studioSlideout {
    transition: 0.3s;
    &.is-active {
        transition: 0.3s;
        transform: rotateY(180deg);
    }
}

.title.is-admin {
    font-weight: 300;
}

.widget-area {
    min-height: 75px;
    padding: 10px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);
    &.author-widget {
        .selected-author {
            display: flex;
            align-content: flex-start;
            img {
                border-radius: 25px;
            }
            .author {
                margin: auto 0 auto 10px;
                .subtitle {
                    font-weight: 300;
                    font-size: 0.8em;
                }
            }
        }
    }
    &.post-status-widget {
        .status {
            display: flex;
            align-content: flex-start;
            .status-icon {
                min-width: 50px;
                .icon {
                    width: 100%;
                    i {
                        text-align: center;
                    }
                }
            }
            .status-details {
                margin-left: 10px;
                h4 {
                    font-weight: 400;
                    span.status-emphasis {
                        font-weight: 800;
                    }
                }
                p {
                    font-weight: 300;
                    font-size: 0.8em;
                }
            }
        }
    }
    &.publish-buttons-widget {
        display: flex;
        min-height: 50px;
        .primary-action-button,
        .secondary-action-button {
            flex: 1;
            margin: 0 5px;
        }
    }
}

.slug-widget {
    .subdirectory-url,
    .root-url {
        display: none;
        @media (min-width: 769px) {
            display: inline-block;
        }
    }
}